<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css"/>
        <title>MySmartHome - Home</title>
    </head>
    <body>
        <%- include('./partials/navbar.html') %>
        <div class="container">
            <h2>Welcome to the landing page of the MySmartHome Portal.</h2>
            <p>Please navigate to the desired features using the navigation bar at the top right corner.</p>
        </div>
        <%- include('./partials/footer.html') %>
    </body>
</html>